page-tabs {
    .menu {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b577b+0,341a4a+100 */
        background: #1b577b;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #1b577b 0%, #341a4a 100%);
    }
}