page-perfil {
    ion-item,
    ion-list-header,
    ion-slides {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/postresdelaabula.appspot.com/o/wallpaper.jpg?alt=media&token=98d9e21b-e90a-4fe2-bcb8-be76cf9bddcb);
        background-repeat: repeat;
        background-color: #cccccc;
    }
}