page-home {
    .marginTop60 {
        margin-top: 60px;
    }
    .marginTop40 {
        margin-top: 40px;
    }
    .marginTop20 {
        margin-top: 20px;
    }
    .marginTop10 {
        margin-top: 10px;
    }
}