<ion-header>

    <ion-navbar color="pink">
        <ion-buttons start>
            <button ion-button>
                Salir
            </button>
        </ion-buttons>

        <ion-title> Tortas de Mamá </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="cart"></ion-icon>
              <ion-badge color="danger"
                         class="carrito-numero"
                         *ngIf="pedidos.length > 0">
                      {{pedidos.length }}
              </ion-badge>
        </button> &nbsp; &nbsp;

        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-slides no-margin no-padding pager loop paginationType="progress">
        <ion-slide *ngFor="let producto of Productos; let i=index">
            <ion-list>
                <ion-list-header class="marginTop">
                    <h1> {{producto.Nombre}} </h1>
                    <button ion-button left [navPush]="detalleProductoPage" [navParams]="{producto: producto}">
                        Seleccionar
                    </button>
                </ion-list-header>
                <ion-item text-center>
                    <img [src]="producto.Url">
                </ion-item>
                <p>{{producto.Valor | currency }} pesos</p>
                <p color="light">{{producto.Descripcion}}</p>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>