page-home {
    ion-item,
    ion-list-header,
    ion-content,
    ion-slides {
        background-image: url('../assets/imgs/wallpaper1.jpg');
        background-repeat: repeat;
        background-color: #cccccc;
    }
}