page-detalle-producto {
    ion-item {
        background-image: url(../../assets/imgs/wallpaper.png);
        background-repeat: repeat;
        background-color: #cccccc;
    }
    ion-thumbnail ion-col ion-row ion-grid ion-slides {
        background-image: url(../../assets/imgs/wallpaper.png);
        background-repeat: repeat;
        background-color: #cccccc;
    }
    ion-list-header {
        background-image: url(../../assets/imgs/wallpaper.png);
        background-repeat: repeat;
        background-color: #cccccc;
    }
    ion-content {
        background-image: url(../../assets/imgs/wallpaper.png);
        background-repeat: repeat;
        background-color: #cccccc;
    }
}